body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    max-width: 700px;
    margin: auto;
}
.caixa{
    background-image: linear-gradient(75deg, #0DE7FA, #00F465, #57FA0D );
    border: 1px solid white;
    float: right;
    height: 200px;
    width: 200px;
    margin: 5px;
}
.caixa2{
    background-image: linear-gradient(75deg, #49FA0D, #49FA0D, #FACE0D );
    border: 1px solid white;
    float: left;
    height: 200px;
    width: 200px;
    margin: 5px;
}
p{
    text-align: justify;
}
.caixa2 img{
    width: 200px;
}
.caixa img{
    width: 200px;
}