article{
    border-radius: 7px;
    height: 1100px;
    flex: 70%;
    margin-left: 1em;
}
.experience{
    height: 60%;
    background-color: #ffffffb3;
    border-radius: 7px;
}
.formacao{
    height: 40%;
    background-color: #ffffffb3;
    border-radius: 7px;
}
.titleformacao{
    display: flex;
    margin: 0em 0em 2em 1em;
    padding-top: 1em;
}
.titleformacao > h1{
    font-size: x-large;
    padding: 0px 0px 0px 10px;
}
.titleformacao > img{
    height: 30px;
}
.content{
    margin: 10px;
    height: 150px;
}
.content > hr{
    background-color: none;
}
.data{
    display: flex;
    color: green;
    margin: 15px 0px 15px 15px;
}
.data > img{
    height: 20px;
    margin-right: 15px;
}
.text_content p{
    margin:15px 0px 5px 0px;
}
.contentformacao{
    margin: 15px 0px 15px 15px;
}
